.task-item{
	padding: 8px 0;
	text-align: left;
	position: relative;
	overflow: hidden;
	column-gap: 15px;
}
.task-item p{
	position: relative;
	transition: color .3s;
}
.task-item p::before{
	content: '';
	position: absolute;
	left: 0;
	top:50%;
	transform: translateY(-50%);
	width: 0;
	height: 1px;
	background: currentColor;
	transition: width .3s;
}
.task-item:not(:last-child){
	border-bottom: 1px solid #eee;
}
.task-item.done p{
	color: #777;
}
.task-item.done p::before{
	width: 100%;
}
.task-item>*{
	transition: all .3s;
}
.task-title{
	font-size: 1.1rem;
}
.btn-group{
	column-gap: 15px;
	align-items: center;
}
.btn{
	padding: 5px;
	display: inline-flex;
	color: #fff;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border:none;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	transition: all .3s;
}
.btn span{
	max-width: 0;
	display: block;
	transition: width .3s;
	overflow: hidden;
}
.btn-done{
	background: #63dd79;
}
.btn-delete{
	background: #fd7979;
}
.btn:hover{
	border-radius: 25px;
	width: 100px
}
.btn:hover span{
	max-width: 50px;
}