.App {
  text-align: center;
  padding: 0 15px;
  background: var(--primary);
  min-height: 100vh;
}
.App-header {
  padding: 20px 0;
  color: #fff;
}
.wrapper{
  width: 100%;
  max-width: 700px;
  background: #fff;
  padding: 20px;
  margin: auto;
}
.no-task-msg{
  margin-top: 30px;
  font-size: 1.25rem;
  color: #666;
  font-style: italic;
}
.form-wrap{
	text-align: left;
}
.form-control{
	padding: 6px 15px;
	border: 1px solid #ccc;
	height: 45px;
	width: 100%;
}
.form-control:focus,.form-control:focus-visible{
	border-color: #999;
	outline: 0;
}